.navbar
  background: $secondary-color
  .navbar-nav
    a
      margin: 0 15px
      color: text-color($secondary-color)
      font-weight: bold
      font-size: 1.2rem
      text-align: center
      &:hover
        text-decoration: none